
<body>

  <div class="colmask leftmenu">
    <div class="colleft">
      <div class="col1">
        <div class="img">
          <img src={{model.img}}>
        </div>
        <h1>{{model.name}}<br>
        {{model.position}}</h1>
        <hr>
        <h1>{{model.email}}<br>
        {{model.phone}}
        </h1>

      </div>
    </div>
  </div>

</body>




